.body-top {
  padding-top: 80px;
  background-image: url('../imagenes/fondo.jpg');
  background-size: cover; 
}

.label
{
	font-style: bold;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    outline: 0;
    color:#fff;

}

.menu{
	left:230px;
	position: absolute;
  top:360px;
}

    
    

