.body-top {
  padding-top: 80px;
  background-image: url('../imagenes/pared.jpg');
  background-size: cover; 
}

.body-bottom {
  padding-top: 60px;

  background-size: cover; 
  
}

.header {
  
  background-size: cover; 
  padding-top: 100px;

}
.header-top {
  
  background-size: cover; 
  padding-top: 100px;

}

    
    

