.textoBienvenida{
	font-style: Arial;
	align-content: center;
	color:#0B0B3B;
	font-size: 28pt;
}

.textoNormal{
	font-style: Arial;
	color:#070719;
	font-size: 14pt;
}

.advertencia{
	color:#DF0101;
	font-size: 14pt;
}

.divPrincipal{
	background-color: #E9A4E6;
	position:absolute; 
	top:20px; 
	left: 500px;
	border-style: solid;
	border-width: 1;
	border-color: #F2DAF1;

}

.divBio{
	background-color: rgba(146,82,143,0.5);
	position: absolute;
	top:200px;
	left:500px;


}

.divComentario{
	background-color: rgba(239,215,242,0.5);
	position: absolute;
    top:400px;
    left:500px;

}


.boton{
    margin-top: 10px;
    margin-left: 35%;

}

label{
    color:#3a454d;
    margin:15px 10px 0 0;
    display:block;
    float:left;
    font-weight: bold;
}

#formulario{
    border: 2px solid
    border-radius: 7px;
    border-color: #380B61;
    width: 300px;
    margin-left: 20px;
    padding: 10px;
}

#formulario div label {
  width: 20%;
  float: left;
}

input {
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    padding:8px;
    font-size:12px;
    color:#3a454d;
    font-weight:bold;
    float:none;
    margin-top: 5px;
}


